
<div class="container ">
  <div class="row backIcon">
    <div class="col-sm-2">
      <img src="../../../assets/images/icons/back.ico" routerLink="/" class="backIcon">
    </div>
    <div class="col-sm-10"></div>
  </div>
  <div class="row allContact">
    <div class="col-8 offset-2">
      <!-- Contacts card: Border -->
      <div class="card">
        <div class="card-body">
          <ul class="list-unstyled mb-0">
            <li class="media pb-3 border-bottom">
              <i class="czi-location font-size-lg mt-2 mb-0 text-primary"></i>
              <div class="media-body pl-3">
                <span class="font-size-ms text-muted">Find us</span>
                <a href="#" class="d-block text-heading font-size-sm">769, Industrial Dr, West Chicago, IL 60185, USA</a>
              </div>
            </li>
            <li class="media pt-2 pb-3 border-bottom">
              <i class="czi-phone font-size-lg mt-2 mb-0 text-primary"></i>
              <div class="media-body pl-3">
                <span class="font-size-ms text-muted">Call us</span>
                <a href="tel:+184725276533" class="d-block text-heading font-size-sm">+1 (847) 252 765 33</a>
              </div>
            </li>
            <li class="media pt-2m">
              <i class="czi-mail font-size-lg mt-2 mb-0 text-primary"></i>
              <div class="media-body pl-3">
                <span class="font-size-ms text-muted">Write us</span>
                <a href="mailto:email@example.com" class="d-block text-heading font-size-sm">email@example.com</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
