<div class="wrapper">
  <div class="container categories">

    <div class="row">
      <div class="col-sm-2">
        <img src="../../../assets/images/icons/back.ico" routerLink="/" class="backIcon">
      </div>
      <div class="col-sm-10"></div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3 text-center">
        <img src="../../../assets/images/jewellery/swarovski.png"
             alt="Swarovski" class="rounded-circle categoriesImages ">
        <p>The best range of Swarovski jewellery</p>
        <button class="btn btn-secondary" routerLink="/svarovski"> Swarovski </button>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <img src="../../../assets/images/jewellery/armani.jpg"
             alt="Armani" class="rounded-circle categoriesImages">
        <p>The best range of Armani jewellery</p>
        <button class="btn btn-secondary" routerLink="/armani"> Armani </button>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <img src="../../../assets/images/jewellery/lv.png"
             alt="Louis Vuitton" class=" categoriesImages">
        <p>The best range of Louis Vuitton jewellery</p>
        <button class="btn btn-secondary" routerLink="/louisVuitton"> Louis Vuitton </button>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <img src="../../../assets/images/jewellery/cartier.jpg"
             alt="Cartier" class="categoriesImages">
        <p>The best range of Cartier jewellery</p>
        <button class="btn btn-secondary" routerLink="/cartier"> Cartier </button>
      </div>
    </div>
  </div>



</div>
