<div class="container">

      <div class="row">
        <div class="col-sm-2">
          <img src="../../../assets/images/icons/back.ico" routerLink="/" class="backIcon">
        </div>
        <div class="col-sm-10"></div>
      </div>

      <div class="row content">

          <input type="text" class="form-control" placeholder="What watch are you looking for" [(ngModel)]="inputText">

        <div class="col-sm-3 text-center block" *ngFor="let item of timex | timexFilter:inputText">
          <img src="{{item.url}}" class="img-fluid images">
          <h5>{{item.model}}</h5>
          <h5>{{item.price}}$</h5>
      </div>
        <div class="col-sm-3 text-center block" *ngFor="let item of awi | awiFilter:inputText">
          <img src="{{item.url}}" class="img-fluid images">
          <h5>{{item.model}}</h5>
          <h5>{{item.price}}$</h5>
        </div>
        <div class="col-sm-3 text-center block" *ngFor="let item of casio | casioFilter:inputText">
          <img src="{{item.url}}" class="img-fluid images">
          <h5>{{item.model}}</h5>
          <h5>{{item.price}}$</h5>
        </div>
        <div class="col-sm-3 text-center block" *ngFor="let item of hublot | hublotFilter:inputText">
          <img src="{{item.url}}" class="img-fluid images">
          <h5>{{item.model}}</h5>
          <h5>{{item.price}}$</h5>
        </div>
        <div class="col-sm-3 text-center block" *ngFor="let item of svarovski | svarovskiFilter:inputText">
          <img src="{{item.url}}" class="img-fluid images">
          <h5>{{item.model}}</h5>
          <h5>{{item.price}}$</h5>
        </div>
        <div class="col-sm-3 text-center block" *ngFor="let item of armani | armaniFilter:inputText">
          <img src="{{item.url}}" class="img-fluid images">
          <h5>{{item.model}}</h5>
          <h5>{{item.price}}$</h5>
        </div>
        <div class="col-sm-3 text-center block" *ngFor="let item of louisVuitton | louisVuittonFilter:inputText">
          <img src="{{item.url}}" class="img-fluid images">
          <h5>{{item.model}}</h5>
          <h5>{{item.price}}$</h5>
        </div>
        <div class="col-sm-3 text-center block" *ngFor="let item of cartier | cartierFilter:inputText">
          <img src="{{item.url}}" class="img-fluid images">
          <h5>{{item.model}}</h5>
          <h5>{{item.price}}$</h5>
        </div>

    </div>

</div>
