<!--Rolex.-->
<!--Chanel-->
<!--Blancpain.-->
<!--Longines-->
<div class="wrapper">
  <div class="container categories">

    <div class="row">
      <div class="col-sm-2">
        <img src="../../../assets/images/icons/back.ico" routerLink="/" class="backIcon">
      </div>
      <div class="col-sm-10"></div>
    </div>
    <div class="row">
<!--      <button class="btn btn-secondary" (click)="foo()">LOGOUT</button>-->
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3 text-center">
        <img src="../../../assets/images/brands/rolex.png"
             alt="Rolex" class="categoriesImages ">
        <p>The best range of Rolex watches</p>
        <button class="btn btn-secondary" routerLink="/rolex"> Rolex </button>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <img src="../../../assets/images/brands/chanel.png"
             alt="chanel" class=" categoriesImages">
        <p>The best range of Chanel watches</p>
        <button class="btn btn-secondary" routerLink="/chanel"> CHANEL </button>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <img src="../../../assets/images/brands/blancpain.png"
             alt="Blancpain" class=" categoriesImages">
        <p>The best range of Blancpain watches</p>
        <button class="btn btn-secondary" routerLink="/blancpain"> Blancpain </button>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <img src="../../../assets/images/brands/longines.png"
             alt="Longines" class="categoriesImages">
        <p>The best range of Longines watches.</p>
        <button class="btn btn-secondary" routerLink="/longines"> Longines </button>
      </div>
    </div>
  </div>



</div>
